<?xml version="1.0" encoding="utf-8" ?>

<sqlMapConfig
      xmlns="http://ibatis.apache.org/dataMapper"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <providers resource="./providers.config" />

  <database>
    <provider name="" />
    <dataSource name="DbConnection" connectionString="" />
  </database>

  <sqlMaps>
    <sqlMap resource="./Maps/master/MySqlDbHandler.xml" />
    <sqlMap resource="./Maps/master/OracleDbHandler.xml" />
    <sqlMap resource="./Maps/master/PostgresDbHandler.xml" />
    <sqlMap resource="./Maps/master/SqlServerDbHandler.xml" />
  </sqlMaps>
</sqlMapConfig>